*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Josefin Sans, Ubuntu, sans-serif;
  color: #fdfbff;
  font-weight: 300;
  line-height: 1.6;
  background-color: #2b2f38; }

a {
  text-decoration: none;
  color: #fdfbff; }

.heading-1 {
  font-size: 10rem;
  font-weight: 400;
  color: #fdfbff;
  line-height: 1;
  padding: 3rem; }

.heading-2 {
  font-size: 8rem;
  font-weight: 100;
  color: #fdfbff;
  line-height: 1; }

.heading-3 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  color: #fdfbff;
  line-height: 1; }

.tags-1 {
  font-size: 2.9rem;
  color: #484e5c;
  font-weight: 400; }

.tags-2 {
  font-size: 2.2rem;
  color: #484e5c;
  font-weight: 400; }

.tags-3 {
  font-size: 2.2rem;
  color: #484e5c;
  font-weight: 400; }

.tags-4 {
  font-size: 1.7rem;
  color: #484e5c;
  font-weight: 400; }

.wrapper {
  background-image: linear-gradient(to right bottom, rgba(43, 47, 56, 0.95), rgba(4, 9, 22, 0.95)), url(../img/photo-1461749280684-dccba630e2f6.jpeg);
  background-size: cover;
  background-position: bottom;
  position: relative; }

.nav {
  padding-top: 0.2rem; }
  .nav__logo {
    font-size: 2.9rem;
    font-weight: 300; }
    .nav__logo a {
      color: #fdfbff; }
  .nav__list {
    margin-top: 5px;
    list-style: none; }
    .nav__list a {
      color: #fdfbff;
      font-size: 2rem;
      font-weight: 300; }
      .nav__list a:hover {
        color: #718daa; }
  .nav__logo a,
  .nav__list a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block; }

@media (min-width: 769px) {
  .nav,
  .nav__list {
    display: flex; }
  .nav {
    flex-direction: column;
    align-items: center; } }

@media (min-width: 1025px) {
  .nav {
    flex-direction: row;
    justify-content: space-between; } }

.header {
  min-height: 80vh; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 50px; }
  .header__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }

.about {
  background-color: #1a1f2c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  margin-top: -200px;
  padding: 15rem 0 15rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0, 0)) {
    .about {
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%); } }
  @media (max-width: 1200px) {
    .about {
      flex-direction: column; } }
  .about__right {
    flex: 0 1 30%; }
  .about__image {
    width: 100%;
    text-align: center; }
    @media (max-width: 1200px) {
      .about__image {
        width: 50%;
        display: none; } }
  .about__left {
    flex: 0 1 40%; }
    .about__left-icons {
      width: 100%;
      padding: 3rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .about__left-icons-img {
        height: 6rem;
        margin: 2rem;
        transition: all 0.4s ease;
        opacity: 0.8;
        filter: brightness(90%) drop-shadow(4px 4px 3px black); }
        .about__left-icons-img:hover {
          opacity: 1;
          filter: brightness(100%) drop-shadow(4px 4px 3px black);
          transform: scale(1.45); }
  .about__text {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #fdfbff;
    padding: 3rem;
    line-height: 1.6; }

.projects {
  background-color: #2b2f38;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  column-gap: 7rem;
  justify-items: center;
  align-items: center;
  margin: 0 0 5rem;
  padding: 0 3% 50px; }
  @media (max-width: 1200px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3rem;
      padding-top: 0rem; } }
  @media (max-width: 800px) {
    .projects {
      grid-template-columns: 1fr; } }
  .projects__heading {
    padding-top: 3rem;
    padding-bottom: 2rem;
    grid-column: 1/-1;
    font-size: 8rem; }
  .projects__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%; }
    .projects__item-text {
      text-align: center;
      grid-column: 1/-1;
      grid-row: 1/2;
      font-size: 30px;
      margin-bottom: 1.6rem;
      font-weight: 200; }
    .projects__item-img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 2/3;
      z-index: 1;
      transition: filter 0.3s;
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 5px 5px 15px 5px #000000;
      border-radius: 7px; }
    .projects__item:hover .projects__item-img {
      filter: blur(4px) brightness(52%);
      -webkit-filter: blur(4px) brightness(52%);
      -moz-filter: blur(4px) brightness(52%); }
    .projects__item:hover .projects__item-icon {
      fill: white;
      opacity: 1;
      transform: translateX(0); }
    .projects__item-cotainer {
      grid-column: 1/-1;
      grid-row: 2/3;
      z-index: 100;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    .projects__item-icon {
      width: 10rem;
      height: 10rem;
      fill: white;
      opacity: 0;
      transition: all 0.6s; }
      .projects__item-icon--1 {
        transform: translateX(-50%); }
      .projects__item-icon--2 {
        transform: translateX(50%); }

.footer {
  background-color: #2b2f38; }

.hide {
  height: 0px; }

.contact {
  background-size: cover;
  background-position: bottom;
  border: none; }
  .contact__heading {
    text-align: center;
    margin-bottom: 3rem; }
  .contact__group {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5rem; }
  .contact__group > *:not(:last-child) {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 3.3em;
    margin-bottom: 1.6rem;
    padding-top: 1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: #333;
    text-align: left;
    border: none;
    border-radius: 7px;
    font-family: inherit;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 2px 2px 10px 5px #000000; }
  .contact__submit {
    font-size: 2.9rem;
    line-height: 1.4;
    font-weight: 400;
    background-color: #171f34;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: 1.3rem 1.5rem 1rem;
    font-family: inherit;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000; }
    .contact__submit:hover {
      background-color: #718daa;
      text-decoration: none; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b2f38; }
  .footer__icons {
    display: flex;
    display: center; }
    .footer__icons-link:hover .footer__icons-item {
      fill: #171f34; }
    .footer__icons-item {
      width: 6rem;
      height: 6rem;
      fill: white;
      margin: 3rem; }
  .footer__copy {
    padding: 0;
    font-size: 1.9rem; }
