*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fdfbff;
  font-weight: 300;
  line-height: 1.6;
  background-color: #2b2f38;
}

a {
  text-decoration: none;
  color: #fdfbff;
}

.heading-1 {
  font-size: 10rem;
  font-weight: 600;
  font-family: 'Poppins';
  color: #fdfbff;
  line-height: 1;
  padding: 3rem;
}

.heading-2 {
  font-size: 7rem;
  font-weight: 600;
  font-family: 'Poppins';
  color: #fdfbff;
  line-height: 1;
  padding: 3rem;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  //   border-bottom: 1px solid #a2a2a2;

  //   -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  //   -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  //   box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  //   -webkit-border-radius: 5px;
  //   -moz-border-radius: 5px;
  //   border-radius: 5px;

  &__logo {
    font-size: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    a {
      color: #fdfbff;
    }
  }

  &__list {
    margin-top: 5px;
    list-style: none;
    a {
      color: #fdfbff;
      font-size: 2rem;

      &:hover {
        color: #718daa;
      }
    }
  }

  &__logo a,
  &__list a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
}

/////////////////////////
//Media Queries for nav

@media (min-width: 769px) {
  .nav,
  .nav__list {
    display: flex;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

//Header
.header {
  min-height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#171f34, 0.9),
      rgba(#2b2f38, 0.9)
    ),
    url(../img/photo-1461749280684-dccba630e2f6.jpeg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    text-align: center;
    margin-top: -150px;
  }

  &__paragraph {
    padding-left: 3rem;
    font-size: 4rem;
  }
}

.about {
  background-color: #171f34;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  margin-top: -200px;
  padding: 200px 0;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0, 0)) {
    -webkit-clip-path: url(#wave);
    clip-path: url(#wave);
    //     height: 95vh;
  }

  &__right {
    flex: 0 1 30%;
  }

  &__image {
    width: 100%;
    text-align: center;
  }

  &__left {
    flex: 0 1 40%;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Poppins';
    color: #fdfbff;
    padding: 3rem;
    line-height: 1.6;
  }
}

.projects {
  //   min-height: 100vh;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0, 0)) {
    -webkit-clip-path: url(#wave);
    clip-path: url(#wave);
  }

  //   background-image: linear-gradient(
  //       to right bottom,
  //       rgba(#171f34, 0.9),
  //       rgba(red, 0.9)
  //     ),
  //     url(../img/photo-1461749280684-dccba630e2f6.jpeg);
  //   background-size: cover;
  //   background-position: bottom;
  //   position: relative;
  background-color: #2b2f38;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  column-gap: 7rem;
  justify-items: center;
  align-items: center;
  margin: -220px 0 5rem;
  padding: 15% 5% 50px;

  //   @media (max-width: 1500px) {
  //     grid-template-columns: repeat(2, 1fr);
  //     margin-top: -400px;
  //     padding-top: 300px;
  //   }

  &__item {
    //     background-color: #feb633;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;

    &-text {
      text-align: center;
      grid-column: 1/-1;
      grid-row: 1/2;
      font-size: 30px;
      margin-bottom: 1.6rem;
      font-weight: 200;
    }

    &-img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 2/3;
      z-index: 1;
      transition: filter 0.3 s;
    }

    &:hover &-img {
      filter: blur(4px) brightness(52%);
      -webkit-filter: blur(4px) brightness(52%);
      -moz-filter: blur(4px) brightness(52%);
    }

    &:hover &-icon {
      fill: white;
      opacity: 1;
      transform: translateX(0);
    }

    &-cotainer {
      grid-column: 1/-1;
      grid-row: 2/3;
      z-index: 100;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &-link {
    }
    &-icon {
      width: 10rem;
      height: 10rem;
      fill: white;
      opacity: 0;
      transition: all 0.6s;

      &--1 {
        transform: translateX(-50%);
      }

      &--2 {
        transform: translateX(50%);
      }
    }
  }
}

.footer {
  margin-top: -100px;
  padding-top: 100px;
  background-color: #2b2f38;
}

.hide {
  height: 0px;
}

.contact {
  //   background-color: #171f34;

  //   clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0 100%);
  //   background-color: #171f34;

  background-image: linear-gradient(
      to right bottom,
      rgba(#171f34, 0.9),
      rgba(#2b2f38, 0.9)
    ),
    url(../img/photo-1486312338219-ce68d2c6f44d.jpeg);

  background-size: cover;
  background-position: bottom;
  position: relative;

  border: none;
  //   width: 80%;
  padding-bottom: 15rem;

  &__heading {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 10rem;
  }

  &__group {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10rem;
  }

  &__group > *:not(:last-child) {
    font-size: 17px;
    line-height: 1.23543;
    font-weight: 400;
    letter-spacing: -0.022em;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 3.3em;
    margin-bottom: 14px;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-clip: padding-box;
    font-family: inherit;

    input[type='text']:hover,
    input[type='email']:hover,
    textarea:hover {
      background-color: #eeeeee;
    }
  }

  &__submit {
    font-size: 2.5rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    background-color: #171f34;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: 13px 15px 14px;
    font-family: inherit;

    &:hover {
      background-color: #718daa;
      text-decoration: none;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: #2b2f38;

  &__icons {
    display: flex;
    display: center;
    &-link {
    }

    &-item {
      width: 6rem;
      height: 6rem;
      fill: white;
      margin: 3rem;
    }
  }

  &__copy {
    padding: 0.5rem 2rem 2rem 2rem;
    font-size: 1.9rem;
  }
}
